@model IEnumerable<Book>;

@{
    ViewData["Title"] = "Wish List";
}

<div class="text-center">
    <br />
    <h1 class="display-4">List of Books I want</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Book" asp-action="NewWishPage" class="btn btn-primary" style="width:100%">
        <img src="/lib/bootstrap/icons/plus-square.svg" alt="Bootstrap" width="25" height="25">
        New Wish
        </a>
    }
    

</div>

<div class="row pb-3">
    @foreach(var book in Model)
    {
        @if(book.BookType.BookTypeName == "I-Wish")
        {
        <div class="col-lg-2 col-md-4">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                    <div class="card">
                        <img src="@book.ImageURL" class="card-img-top rounded"/>

                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h6 text-primary"><b>@book.Title</b></p>
                                <p class="card-title text-info"><i>@book.Author</i></p>
                            </div>
                            <div class="pl-1">
                                <p class="card-title text-primary">@book.Status.StatusName</p> 
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="pl-1 p-2">
                                    <a asp-controller="Book" asp-action="GotItPage" asp-route-id="@book.Id" class="btn btn-primary" style="width:100%">
                                    Got It
                                    <img src="/lib/bootstrap/icons/star.svg" alt="Bootstrap" width="20" height="20">
                                    </a>
                                </div> 
                            }
                                

                        </div>
                    </div>
                </div>
            </div>
        </div>    
        }
        
    }
</div>

